header {
  background-color: #f8f9fa;
  padding: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #bbb;
}

.toolbar-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
