<p-table [value]="filteredConsumptions" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th>Mois</th>
      <th>Consommation</th>
      <th>Coût</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-consumption>
    <tr>
      <td>{{ consumption.date | date : "MMMM" }}</td>
      <td>
        {{ consumption.quantity | number }} {{ consumption.energyType.unit }}
      </td>
      <td>{{ consumption.cost | currency : "EUR" }}</td>
    </tr>
  </ng-template>
</p-table>
