.energy-card {
  margin-top: 80px;
}

.price {
  margin-top: 25px;
  margin-bottom: 30px;
}

label,
p-calendar,
p-inputNumber {
  display: block;
  margin-bottom: 15px;
}

p-button {
  margin-top: 10px;
}
