<div style="display: flex; align-items: center; justify-content: center">
  <div class="energy-card" *ngIf="energyType$ | async as energy">
    <p-card
      header="AJOUTEZ VOTRE CONSOMMATION EN {{ energy.name | uppercase }}"
      [style]="{
        width: '30rem',
        textAlign: 'center',
        backgroundColor: '#F8F9FA',
        border: '1px solid #bbb'
      }"
      styleClass="mr-10"
    >
      <i
        *ngIf="energy.id === 1"
        class="fa-solid fa-xl fa-bolt mb-10"
        style="color: #ffd43b"
      ></i>
      <i
        *ngIf="energy.id === 2"
        class="fa-solid fa-xl fa-fire-flame-simple mb-10"
        style="color: #da541b"
      ></i>
      <i
        *ngIf="energy.id === 3"
        class="fa-solid fa-xl fa-droplet mb-10"
        style="color: #3996f9"
      ></i>
      <form [formGroup]="consumptionForm" (ngSubmit)="onSubmit()">
        <label style="margin-top: 30px">Date :</label>
        <p-calendar
          id="date"
          formControlName="date"
          view="month"
          dateFormat="mm/yy"
          [readonlyInput]="true"
        ></p-calendar>

        <label style="margin-top: 30px"
          >Consommation (en {{ energy.unit }}) :</label
        >
        <p-inputNumber
          id="quantity"
          inputId="integeronly"
          formControlName="quantity"
          [placeholder]="energy.unit"
        ></p-inputNumber>
        <p-button
          label="Envoyer"
          [text]="true"
          [raised]="true"
          severity="secondary"
          type="submit"
        ></p-button>
        <p-messages
          [(value)]="messages"
          [enableService]="false"
          [closable]="false"
        ></p-messages>
      </form>
    </p-card>
  </div>
</div>
